
.open-sans-normal {
    font-family: "Open Sans", serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
  }
body{
    padding: 80px;
    background-color: #ffffff;
}
header{
    background-color: rgb(177, 212, 177);
    padding: 70px;
    border-radius: 15px;
}
.banner{
    display: flex;
}
.title{
    font-weight: 20px;
    color: #757575;
    font-size: 30px;
    font-weight: bolder;
}
.btn-primary{
    background-color: rgb(29, 53, 29);
    font-weight: bold;
    color: white;
    padding: 30px;
    /* padding: 18px 35px; */
    border-radius: 10px;
    border: none;
    font-size: 20px;
}
.btn-primary2{
    font-weight: bold;
    color: white;
    padding: 18px 35px;
    border-radius: 5px;
    border: none;
    font-size: 20px;
}
.banner-content{
    margin-top: 100px;
}
.head-img{
    margin-left: 250px;
    margin-right: 0;
}
.title-des{
    font-size: 50px;
}
.pillars-des{
    display: flex;
    gap: 24px;
}
.pillar-des{
    padding: 50px;
    border-radius: 5px;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
}
.pillar-des2{
    padding: 50px;
    border-radius: 10px;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
}
.cal1{
    background-color: antiquewhite;
    border-radius: 10px;
}
.cal2{
    background-color:rgb(238, 209, 190);
}
.cal3{
    background-color:rgb(243, 203, 151);
}
.btn11{
    background-color: rgb(240, 160, 12);
}
.btn22{
    background-color: rgb(160, 85, 0);
}
.btn33{
    background-color: rgb(252, 81, 38);
}
main section{
    margin-top: 130px;
    margin-bottom: 130px;
}
.section-title{
    font-size: 50px;
    font-weight: bold;
    color: #181818;
}
.dark-2{
    color: #474747;
}
.dark-21{
    color: #2e2d2d;
}


.yunus{
    background-color: rgb(241, 241, 241);
    background-image: url('assets/quote-bg.png');
    padding: 20px !important;
    border-radius: 8px;
    background-repeat: no-repeat;
    min-height: 100px;
}
.card1{
    display: flex;
    padding: 40px;
    background-color: white;
    border-radius: 10px;
}
.sub-card{
    padding: 30px;
    margin-left: 20px;
}
img{
    border-radius: 20px;
}
.recent{
    background-color: rgb(241, 241, 241);
    border-radius: 10px;
    padding: 80px;
}
.recent-img{
    border-radius: 10px red;
}
.card1{
    margin-bottom: 30px;
}
.donate{
    text-align: center;
    padding: 30px;
}
.btn{
    padding: 30px;
    margin: 0 30px;
    border-radius: 10px;
    width: 290px;
    height: 150px;
    font-size: 30px;
    font-weight: bolder;
    border: none;
}
.font{
    font-size: 23px;
}
.btn1{
    background-color: rgb(177, 212, 177);
}
main input[type="number"]
 {
    height: 64px;
    border-radius: 5px;
    background-color: white;
    display: block;
    width: 80%;
    padding: 10px 20px;
    margin-top: 30px;
    margin-left: 150px;
    border: none;
    background-color: #eeecec;
    text-align: center;
    font-size: 30px;
 }
 .bt{
    margin-top: 40px;
 }
.footer{
    text-align: center;
    background-color: rgb(177, 212, 177);
    padding: 150px;
    border-radius: 10px;
}
.font2{
    font-size: 30px;
}
.font1{
    font-size: 20px;
}
footer input[type="Email"]
 {
    height: 64px;
    border-radius: 10px;
    background-color: white;
    display: block;
    width: 80%;
    padding: 10px 20px;
    margin-top: 30px;
    margin-left: 150px;
    border: none;
    background-color: #eeecec;
    text-align: center;
    font-size: 30px;

 }
 .btn:hover {
    background-color: #04AA6D;
    color: white;
  }
  .inp{
    font-size: 20px;
  }
  .but:hover{
    background-color: #04AA6D;
    color: white;
  }
  .last
  {
    padding: 50px;
    text-align: center;
  }
  .last img{
    margin-right: 20px;
  }
  